* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  /* position: relative; */
  text-align: center;
  justify-items: center;
}

.container {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  width: 400px;
  height: 100px;
  border: 5px solid #fff;
}

.container span {
  width: 10px;
  height: 98px;
  border: 2px solid #ff0000;
  background-color: #fff;
  z-index: -1;
  position: absolute;
}

#cable {
  width: 180px;
  height: 8px;
  background-color: #ff1b7b;
  border: 2px solid #ffffff;
  border-radius: 20px;
  margin: 1em;
  /* left: 0; */
  /* position: absolute; */
  position: relative;
}

button {
  background-color: #ff1b7b;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1ABC9C;
}

#status {
  text-align: center;
  font-size: 1.2em;
  margin-top: 1em;
}