* {
  margin: 0;
  padding: 0;
}

/* === ESTILO: ARCANE === */

.arcane {
  background: linear-gradient(135deg, #1f1f1f, #4b2e2e);
  color: #e6c99c;
  font-family: 'Cinzel Decorative', cursive;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  text-align: center;
  padding: 20px 40px;
}

.arcane h2,
.arcane p,
.arcane #result {
  color: #e6c99c;
  text-shadow: 0 0 5px #a1866f;
  margin-bottom: 20px;
}

#result {
  display: flex;
  text-align: center;
  color: #a1866f;
  font-size: 2em;
  margin-bottom: 30px;
}

#options {
  position: fixed;
  display: flex;
  gap: 20px;
}

.arcane #options button {
  background-color: #3d2b2b;
  border: 2px solid #a1866f;
  border-radius: 8px;
  color: #e6c99c;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 120px;
}

#options p {
  font-size: 20px;
  padding: 14px;
  text-align: center;
}

i {
  width: 100px;
  height: 100px;
  font-size: 100px;
  cursor: pointer;
}

.arcane i:hover {
  color: #e6c99c;
  transform: scale(1.1);
}

.back {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 20px;
  /* position: fixed; */
  bottom: 0;
}

.back button {
  color: #a1866f;
  font-size: 2em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.back button:hover {
  transform: scale(1.1);
}