:root {
  --color-bg-gradient-start: #1f1f1f;
  --color-bg-gradient-end: #4b2e2e;
  --color-bg-button: #3d2b2b;

  --color-primary: #e6c99c;
  --color-secondary: #a1866f;

  --font-main: 'Cinzel Decorative', cursive;

  --border-radius-button: 8px;

  --box-shadow-text: 0 0 5px var(--color-secondary);

  --transition-button: background-color 0.3s ease;
  --transition-transform: transform 0.3s ease;

  --font-size-button: 1.2em;
  --font-size-icon: 100px;
  --font-size-result: 2em;
  --font-size-paragraph: 20px;

  --button-height: 120px;
}

* {
  margin: 0;
  padding: 0;
}

.arcane {
  background: linear-gradient(135deg, var(--color-bg-gradient-start), var(--color-bg-gradient-end));
  color: var(--color-primary);
  font-family: var(--font-main);
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  text-align: center;
  padding: 20px 40px;
}

.arcane h2,
.arcane p,
.arcane #result {
  color: var(--color-primary);
  text-shadow: var(--box-shadow-text);
  margin-bottom: 20px;
}

#result {
  display: flex;
  text-align: center;
  color: var(--color-secondary);
  font-size: var(--font-size-result);
  margin-bottom: 30px;
}

#options {
  position: fixed;
  display: flex;
  gap: 20px;
}

.arcane #options button {
  background-color: var(--color-bg-button);
  border: 2px solid var(--color-secondary);
  border-radius: var(--border-radius-button);
  color: var(--color-primary);
  padding: 10px 20px;
  font-size: var(--font-size-button);
  cursor: pointer;
  transition: var(--transition-button);
  height: var(--button-height);
}

#options p {
  font-size: var(--font-size-paragraph);
  padding: 14px;
  text-align: center;
}

i {
  width: var(--font-size-icon);
  height: var(--font-size-icon);
  font-size: var(--font-size-icon);
  cursor: pointer;
}

.arcane i:hover {
  color: var(--color-primary);
  transform: scale(1.1);
}

.back {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 20px;
  bottom: 0;
}

.back button {
  color: var(--color-secondary);
  font-size: 2em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: var(--transition-transform);
}

.back button:hover {
  transform: scale(1.1);
}
