* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/assets/images/Ponte-de-Cristal-vertical.png);
  background-size: contain;
  background-position: center;
  background-color: #1f1b24;
  font-family: 'Gabarito', sans-serif;
  color: #e6c99c;
  position: relative;
  min-height: 100vh;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  background-color: rgba(20, 15, 15, 0.6);
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #a1866f;
  box-shadow: 0 0 10px #a1866f77;
}

.title h2 {
  text-align: left;
  font-size: 2em;
  color: #e6c99c;
  text-shadow: 0 0 8px #a1866f;
}

.title p {
  color: #e6c99c;
  font-size: 1.2em;
  text-shadow: 0 0 5px #a1866f;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #a1866f;
  border-radius: 16px;
  box-shadow: 0 0 20px #ff1b7b77;
}

.result {
  color: #e6c99c;
  font-size: 1.2em;
  text-shadow: 0 0 5px #a1866f;
  text-align: center;
}

.glassBridge {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
}

.glassBridge button {
  width: 120px;
  height: 120px;
  font-size: 1.2em;
  font-weight: bold;
  color: #e6c99c;
  background: rgba(61, 43, 43, 0.08);
  border: 2px solid rgba(161, 134, 111, 0.4);
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.1), 0 0 10px rgba(0, 255, 255, 0.15), 0 0 8px #00000088;
}

.glassBridge button:hover {
  background: rgba(161, 134, 111, 0.3);
  color: #1f1b24;
  transform: scale(1.05);
  box-shadow: 0 0 12px #e6c99c, 0 0 20px rgba(0, 255, 255, 0.2);
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.back button {
  color: #e6c99c;
  font-size: 2em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-shadow: 0 0 5px #a1866f;
  transition: transform 0.3s ease;
}

.back button:hover {
  transform: scale(1.1);
}

@media (min-width: 1200px) {
  body {
    background-image: url(/assets/images/Ponte-de-Cristal.png);
  }
}